{% extends '_base.html' %}

{% block content %}

<section id="cart">
  <div class="container">
    <div class="row">
      <!-- ko if: cart().length > 0 -->
        <p>Your cart:</p>
        <table class="table">
          <thead>
            <th>#</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Удалить</th>
          </thead>
          <tbody data-bind="foreach: { data: cart(), as: 'product' }">
            <td data-bind="text: $index()+1"></td>
            <td data-bind="text: product.name"></td>
            <td><b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i></td>
            <td><i class="fa fa-remove text-danger" data-bind="click: $root.deleteFromCart($index())"></i></td>
          </tbody>
        </table>
        <button type="button" class="btn btn-xl btn-danger" data-bind="click: $root.removeAllFromCart">
          <i class="fa fa-remove"></i> Удалить все
        </button>
        <button type="button" class="btn btn-xl btn-success" data-bind="click: $root.makeOrder">
          <i class="fa fa-shopping-bag"></i> Заказать
        </button>
      <!-- /ko -->

      <!-- ko if: cart().length == 0 -->
        <p>Вы еще не совершили покупок..</p>
        <p><a href="{% url 'site_index' %}#products" type="button" class="btn btn-primary">
          <i class="fa fa-shopping-bag"></i> Исправить
        </a> это ужасное положение вещей!</p>
      <!-- /ko -->
    </div>
  </div>
</section>
{% endblock %}