{% extends '_base.html' %}

{% block content %}
    <!-- ko if: feedbackFormShown() == true -->
    <div class="background"></div>
    <div class="feedback-form">
      <p id="msg" class="text-info"></p>
      <p id="err" class="text-danger"></p>
      <i class="fa fa-remove" data-bind="click: hideFeedbackForm()" style="float: right; cursor: pointer;"></i>
      <!-- ko if: !customerVoted() -->
      <form id="feedback-form" class="form-horizontal" method="post" action="" style="margin-top: 25px;">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputEmail" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" id="inputEmail" class="form-control input-lg"
                   data-bind="css: { 'err-in-input': !customerEmail.isValid() && !firstShow() }, value: customerEmail" placeholder="Email" required>
          </div>
          <div class="col-sm-12" style="text-align: right;"><p style="font-size: x-small;" class="text-danger" data-bind="visible: !customerEmail.isValid() && !firstShow()">Это поле обязательно к заполнению!</p></div>
        </div>
        <div class="form-group">
          <label for="inputFeedback" class="col-sm-4 control-label">Отзыв</label>
          <div class="col-sm-8">
            <textarea id="inputFeedback"
                   data-bind="css: { 'err-in-input': !feedbackText.isValid() && !firstShow() }, value: feedbackText"
                   class="input-lg form-control bfh-phone" placeholder="Отзыв" required></textarea>
          </div>
          <div class="col-sm-12" style="text-align: right;"><p style="font-size: x-small;" class="text-danger" data-bind="visible: !feedbackText.isValid() && !firstShow()">Это поле обязательно к заполнению!</p></div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-xl btn-success" data-bind="click: sendFeedback()">
              <i class="fa fa-check-circle"></i> Отправить
            </button>
          </div>
        </div>
      </form>
    <!-- /ko -->
    </div>
    <!-- /ko -->
    <header>
        <div class="header-content" style="margin-top: 25px;">
            <div class="header-content-inner">
                <h1>Твоё любимое место покупки электроники</h1>
                <hr>
                <p>Мы решили сделать электронику в Перми доступней! Если вы начинающий специалист, и для вашего проекта требуются Arduino или Raspberry и модули к ним,
                  значит вы не случайно оказалить на этой странице. Тут вы можете приобрести электронику для совего хобби, или же работы по ценам, выгодно отличающимся от конкурентов. Вся представленная продукция в наличии. </p>
                <a href="#products" class="btn btn-primary btn-xl page-scroll">Ознакомиться</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <!-- TODO: write in russian -->
                    <h2 class="section-heading">У нас есть то, что вам нужно!</h2>
                    <hr class="light">
                    <p class="text-faded">
                      Мы заметили, что покупать элеткронику для разработки, обучения робототехнике или прототипирования различных
                      устройств получается очень дорого, а заказывать из-за рубежа очень долго.
                      Сами столкнувшись с этой проблемой, мы решили сделать электронику для искушенных доступней.
                    </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl">Подробнее..</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <!-- TODO: write in russian -->
                    <h2 class="section-heading">Почему выгодно покупать у нас</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                      <!-- TODO: write in russian -->
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="products">
        <div class="container-fluid">
            <div class="row no-gutter">

                {% block product-tiles %}
                {% endblock %}

            </div>
        </div>
    </section>
    <section id="all-products-link">
      {% if products_all_count > at_page %}
        <div class="container">
          <div class="text-center row">
              <!-- ko if: products.expanded() -->
              <a href="#" data-bind="click: showInitProducts, text: 'Свернуть'" class="btn btn-primary btn-xl"></a>
              <!-- /ko -->
              <!-- ko if: !products.expanded() -->
              <a href="#" data-bind="click: showAllProducts, text: 'Вся продукция'" class="btn btn-primary btn-xl"></a>
              <!-- /ko -->
          </div>
        </div>
      {% endif %}
    </section>

    <!-- ko if: productToView() !== null -->
      <div class="background"></div>
      <section id="info" class="bg-dark product-view" data-bind="with: { data: productToView(), as: 'product' }">
        <div class="container">
          <div class="col-lg-12">
            <i class="fa fa-2x fa-remove text-orange" style="float: right;" data-bind="click: $root.viewingOff()"></i>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <!--ko foreach: { data: product.thumbs, as: 'thumb' } -->
                <!-- ko if: $index() == 0 -->
                  <!-- TODO: make simple viewer for large images -->
                  <a data-bind="attr: { href: thumb.large }"><img data-bind="attr: { src: thumb.url }" class="img-thumbnail" alt=""></a>
                <!-- /ko -->
              <!-- /ko -->
            </div>
            <div class="col-lg-8 col-sm-8">
              <p>Наименование: <b data-bind="text: product.name"></b></p>
              <p>Цена: <b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i></p>
              <!-- ko if: product.inStock -->
                <p>На складе: <b data-bind="text: product.leftInStock"></b> шт.</p>
              <!-- /ko -->
              <!-- ko ifnot: product.inStock -->
                <p><i class="fa fa-remove"></i> Нет в наличии</p>
              <!-- /ko-->
              <p><i class="fa fa-4x fa-cart-arrow-down" data-bind="click: $root.addToCart.bind($data.data)"></i> </p>
              <!-- ko if: product.isInCart() == true -->
                <p>В корзине: <b data-bind="text: product.count()"></b> шт.</p>
              <!-- /ko -->
              <!-- ko if: product.isInCart() == false -->

              <!-- /ko -->
              <!--<p><b data-bind="text: product.desc"></b> </p>-->
            </div>
          </div>
        </div>
      </section>
    <!-- /ko -->

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
              <!-- TODO: write in russian -->
                <h2>Не нашли то, что искали?</h2>
                <p class="text-faded">
                  Оставьте заявку на интересующий вас товар, и мы свяжемся с вами и уточним возможность и сроки поставки!
                </p>
                <a href="#products" class="btn btn-default btn-xl page-scroll wow tada">Оставить заявку</a>
            </div>
        </div>
    </aside>
{% endblock %}