{% extends 'index.html' %}

{% block product-tiles %}
{% load staticfiles %}
<div data-bind="foreach: { data: productsToShow, as : 'product' }">
  <div class="col-lg-4 col-sm-6 no-padding">
    <a data-bind="click: $root.getProduct(product.id)" class="portfolio-box">
      <!--ko foreach: { data: product.thumbs, as: 'thumb' } -->
        <!-- ko if: $index() == 0 -->
          <img data-bind="attr: { src: thumb.url }" class="img-responsive" alt="">
        <!-- /ko -->
      <!-- /ko -->
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="project-category text-faded" data-bind="text: product.name"></div>
            <div class="project-name">
              <p><b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i></p>
            </div>
            <!-- ko if: product.inStock == false -->
              <p>Нет в наличии!</p>
            <!-- /ko -->
            <!-- ko if: product.isInCart() -->
              <div><i class="fa fa-check"></i> Добавлено <b data-bind="text: product.count()"></b></div>
            <!-- /ko -->
            <!-- addToCart should be invoked with .bind() !! -->
            <div class="text-blue"><i data-bind="click: $root.addToCart.bind($data)" class="fa fa-4x fa-cart-arrow-down"></i></div>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}