{% extends 'index.html' %}

{% block product-tiles %}
{% load staticfiles %}
<div data-bind="foreach: { data: products, as : 'product' }">
  <div class="col-lg-4 col-sm-6 no-padding">
    <a href="#" class="portfolio-box">
      <!--ko foreach: { data: product.thumbs, as: 'thumb' } -->
        <img data-bind="attr: { src: thumb }" class="img-responsive" alt="">
      <!-- /ko -->
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="project-category text-faded" data-bind="text: product.name"></div>
            <div class="project-name">
              <p><b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i></p>
            </div>
            <div class="text-blue"><i class="fa fa-2x fa-cart-arrow-down"></i></div>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}