{% extends '_base_admin.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Цена, <i class="fa fa-rouble"></i></th>
      <th>Количество</th>
      <th>Наличие</th>
      <th>Вкл/выкл</th>
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.cost }}</td>
        <td>{{ product.left_in_stock }}</td>
        {% if product.in_stock %}
          <td><i class="fa fa-check text-success"></i></td>
        {% else%}
          <td><i class="fa fa-remove text-danger"></i></td>
        {% endif %}
        {% if product.is_enabled %}
          <td><i class="fa fa-toggle-on text-success"></i></td>
        {% else%}
          <td><i class="fa fa-toggle-off text-danger"></i></td>
        {% endif %}
        <td><a href="{% url 'product_update' product.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'product_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus">
        Добавить
      </i>
    </button>
  </a>
{% endblock %}