{% extends '_base_admin.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
      {% bootstrap_field field %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Сохранить
        </button>
    {% endbuttons %}
  </form>

  {% for image in images %}
    <div class="col-lg-2 img-container">
      <a href="{% url 'image_remove' image.id %}" style="position:absolute;">
        <i class="fa fa-3x fa-remove text-danger"></i>
      </a>
      <img src="{{ image.url }}" class="img-thumbnail" alt="">
    </div>
  {% endfor %}

  <div class="col-lg-2 add-image-icon" style="text-align: center;">
    <a href="{% url 'images_add'%}" style="">
      <i class="fa fa-3x fa-plus text-success"></i>
    </a>
  </div>

{% endblock %}