{% extends '_base_admin.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Дата</th>
      <th>Превью</th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
      <tr>
        <td>{{ image.id }}</td>
        <td>{{ image.date }}</td>
        <td><img width="100" height="100" src="{{ image.thumb.url }}" alt=""></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'image_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus">
        Добавить
      </i>
    </button>
  </a>
{% endblock %}